---
import Banner from "../components/Banner.astro"
import Footer from "../components/Footer.astro"
import './../../public/styles.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
	    <link href="https://inicio.ceeci.mx/web/images/ceeci-logo-solo-favicon.png" rel="shortcut icon" type="image/png">
	    
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ceeci Platform - English: Lesson 16</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body>
		<header>
			 <Banner></Banner>
			 <nav>
				<div class="nav-wrapper  #000000  black">
                  <div class="col s12">
                    <div class="container">
						<a class="breadcrumb">English</a>
						<a class="breadcrumb">Lesson 16</a>
					</div>
				  </div>
				</div>
			 </nav>
		</header>
		<div class="container">
			<h2> Lesson 16 Gloria Gusto, Tom Atkins and Terry Archer</h2><hr/>
		    <img src="/img/img-lesson.png" alt="img" class="img-lesson">

			<div class="row" >
				<div class="col s12 m7 offset-m2 l4 offset-l4 center-align">
				  <div class="card">
					
					<div class="card-content">
						<h2>Gloria Gusto</h2>
					  <p>Hi, there! My name's Gloria Gusto.</p>
					  <p>I'm an actress.</p>
					  <p>I'm from London.</p>
					  <p>I've gota flat in London and a house in Hollywood, with a swimming pool.</p>
					  <p>I've gota new eet hag and a lot of money in the bank.</p>
					  <p>I've got a husband, and three wonderful children in Hollywood. </p>
					  <p>Life's great!</p>
					  <p>I've got everything!</p>
					</div>
				  </div>
				</div>
			  </div>

			  <div class="row" >
				<div class="col s12 m7 offset-m2 l4 offset-l4 center-align">
				  <div class="card">
					
					<div class="card-content">
						<h2>Tom Atkins</h2>
					  <p>Hello, my name's Tom Atkins.</p>
					  <p>I'm from London, too.</p>
					  <p>I'm broke. I haven't got any money.</p>
					  <p>| haven't gota joborahouse,or a car</p>
					  <p>I haven't got a wife, andi haven’t got any children.</p>
					  <p>Life’s terrible!</p>
					  <p>Lhaven't got anything!</p>
					</div>
				  </div>
				</div>
			  </div>


			  <div class="row" >
				<div class="col s12 m7 offset-m2 l4 offset-l4 center-align">
				  <div class="card">
					
					<div class="card-content">
						<h2>Terry Archer</h2>
					  <p>Look at this man.</p>
					  <p>His name's Terry Archer.</p>
					  <p>He isn’t from London</p>
					  <p>He's from Oxford</p>
					  <p>He'sa factory worker.</p>
					  <p>He's got a good job.</p>
					  <p>He's gota car</p>
					  <p>He hasn't got a big house, he´s got a flat</p>
					  <p>He’s got a wife, but he hasn't got any children.</p>
					  <p>Life's all right.</p>
					</div>
				  </div>
				</div>
			  </div>
		</div>
		<Footer></Footer>
	</body>
</html>
